In [1]:
list = []

print(list)

print(type(list))

[]
<class 'list'>

In [2]:
# blank list
L1 = []

# list of integers
L2 = [10, 20, 30]

# List of heterogenous data types
L3 = [1, "Hello", 3.4]

print(L1, L2, L3)

[] [10, 20, 30] [1, 'Hello', 3.4]

In [1]:
theList = [iter for iter in range(5)]

In [ ]:
listofCountries = ["India","America","England","Germany","Brazil","Vietnam"]
lettes = ["I", "A"]
firstLetters = [ country[0] for country in listofCountries ]

#get the list of countries
#iterate over the list using the for loop
#read each element of the list, e.g. firt element would be India
#country = India
#Get the first element of the string, country which I
#store this value inside the list firstletters
print(firstLetters)

In [8]:
country = "India"
seqLetters = [letters[0] for letters in country]
#print letters of the string sequentially
seqLetters.sort()
print(seqLetters)

['I', 'a', 'd', 'i', 'n']

In [10]:
country = "India"
for char in country:
    print(char)

I
n
d
i
a

In [12]:
init_list = [0]*3
init_list

[0, 0, 0]

In [13]:
#method 1 to combine list
list1 = [1,2]
list2 = [2,3]
list1=list1+list2

[1, 2, 2, 3]

In [14]:
#method 2 to combine list
list1.extend(list2)
list1

[1, 2, 2, 3]

In [15]:
list3=[0,0]
list1.append(list3)

In [17]:
#accessing elements
list1[3]

3

In [21]:
listofnumbers = [1,2,4,5,6,0]
#find the number at 2nd & 5th pos
print(listofnumbers[2])
print(listofnumbers[5])

4
0

In [22]:
#traverse in the other order
vowels = ['a','e','i','o','u']

print(vowels[-1])

print(vowels[-3])

u
i

In [24]:
#adding values to list
theList = [55,66]
theList.insert(0,33)
print(theList)

[33, 55, 66]