In [3]:
#I am learning python and the following are basic commands

5+2
5*2
5>0

True

In [4]:
"hello "+"abc"

'hello abc'

In [5]:
print("hello")

hello

In [38]:
if(1>0):
    print("hello")
if(2<3):
    print("hi")

hello
hi

In [40]:
name = "Abhisek"
age = 32
country = 'Singapore'

#type cast variable from original to new datatype

print (name + (str(age)))

Abhisek32

In [41]:
name = "Vaibhav"
age = 35.0
country = 'India'

print(type(age))

<class 'float'>

In [42]:
name, age, country = "Abhisek", 32, "Singapore"

print(name, country, age)

Abhisek Singapore 32

In [43]:
#Loops

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [44]:
#For Loop

students = ["Abhisek", "Rai"]
for x in students:
    print(x)

Abhisek
Rai